PORT=8080
DB_URL=jdbc:oracle:thin:@your-oracle-host:1521/your-service
DB_USERNAME=your_user
DB_PASSWORD=your_password
DDL_AUTO=update
AWS_REGION=us-east-1
AWS_S3_BUCKET=your_bucket_name
AWS_S3_SUMMARY_PREFIX=inscripciones
AWS_S3_GUIDE_PREFIX=guias
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_SESSION_TOKEN=your_session_token_if_using_academy_or_voclabs
EFS_MOUNT_PATH=/mnt/efs

# AWS API Gateway valida el JWT de Azure/Entra ID.
# Mantener false si la autenticacion se hace solo en API Gateway.
JWT_VALIDATION_ENABLED=false

# Usar estos valores solo si tambien quieres validar el JWT dentro de Spring.
AZURE_AD_ISSUER_URI=https://login.microsoftonline.com/your-tenant-id/v2.0
AZURE_AD_ALLOWED_AUDIENCES=api://your-api-client-id,your-api-client-id
